<!-- Start Footer -->
<footer class="section-padding bg-dark-blue footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="ft-logo mb-lg-80">
                    <img src="assets/images/logo.png" class="image-fit" alt="">
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="footer-widgets mb-sm-80">
                    <h5 class="text-custom-white fw-600">A PROPOS<span class="text-orange">.</span></h5>
                    <div>
                        <p style="color: #8b9fae;">
                            Mfoumgroup est  une  société  de  développement  de
                             solutions informatiques de nouvelle  génération,
                             dont  le  siège  est basé  à Yaoundé  (Cameroun).
                             
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="footer-widgets mb-sm-80">
                    <h5 class="text-custom-white fw-600">ACCES RAPIDES<span class="text-orange">.</span></h5>
                    <ul class="custom">
                        <li>
                            <a href="#">Nos services</a>
                        </li>
                        <li>
                            <a href="#">Nos produits</a>
                        </li>
                        <li>
                            <a href="#">Nos formations</a>
                        </li>
                        <li>
                            <a href="#">Nos réalisations</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="footer-widgets mb-xs-80">
                    <h5 class="text-custom-white fw-600">RETROUVEZ-NOUS<span class="text-orange">.</span></h5>
                    <ul class="custom">
                        <li>
                            <a href="#">Yaoundé - Cameroun</a>
                        </li>
                        <li>
                            <a href="#">+237 656 48 82 03</a>
                        </li>
                        <li>
                            <a href="#">Skype: Ntiesoft</a>
                        </li>
                        <li>
                            <a href="#">Email: infos@mfoumgroup.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-6">
                <div class="footer-widgets newsletter">
                    <h5 class="text-custom-white fw-600">NEWSLETTER<span class="text-orange">.</span></h5>
                    <div class="input-group mb-xl-20">
                        <input type="email" name="#" class="form-control form-control-custom" placeholder="Email address">
                        <div class="input-group-append">
                            <button>
                                <i class="fal fa-envelope"></i>
                            </button>
                        </div>
                    </div>
                    <img src="assets/images/logo@1X.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <ul class="custom-flex ft-menu">
                    <!--<li>
                        <a href="#" class="text-custom-white">Produits</a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">Platform</a>
                    </li>-->
                    <li>
                        <a href="#" class="text-custom-white">Politique de confidentialité</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <p class="text-custom-white fw-500">© Copyright 2021.<a href="#" class="text-custom-white">All Rights Reserved MFOUMGROUP</a></p>
            </div>
            <div class="col-lg-4">
                <ul class="custom-flex ft-social">
                    <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="back-top" class="back-top">
    <a href="#top"><i class="fal fa-long-arrow-up"></i></a>
</div>
<!-- End Footer -->
