<app-header-one></app-header-one>
<!-- Start Slider -->
<div class="main-slider-section p-relative">
    <div class="main-slider">
        <div class="slide-item">
            <img src="assets/images/slider1.jpg" class="image-fit">
            <div class="transform-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="banner-content">
                                <a href="#" class="video-btn">
                                    <i class="fas fa-play"></i>
                                </a>
                                <h1 class="text-custom-white fw-600 heading-title">Faites nous confiance pour vos besoins.</h1>
                                <p class="no-margin text-custom-white"> en projets et solutions informatiques de pointe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <img src="assets/images/slider2.jpg" alt="" class="image-fit">
            <div class="transform-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="banner-content">
                                <a href="#" class="video-btn">
                                    <i class="fas fa-play"></i>
                                </a>
                                <h2 class="text-custom-white fw-600 heading-title">DES ÉQUIPES EXPÉRIMENTÉES</h2>
                                <p class="no-margin text-custom-white"> QUI VOUS ACCOMPAGNENT VERS DES SOLUTIONS PERSONNALISÉES.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider nav -->
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="main-slider-nav">
                    <div class="slide-item">
                        <h4 class="fw-600 mb-xl-10">Nous vous proposons</h4>
                        <p class="no-margin fw-500">des solutions performantes</p>
                    </div>
                    <div class="slide-item">
                        <h4 class="fw-600 mb-xl-10">Nous mettons à notre service</h4>
                        <p class="no-margin fw-500">Des equipes experimentées</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider -->
<!-- Start About -->
<section class="section-padding about-sec count-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-images p-relative mb-md-80">
                    <img src="assets/images/about-img-1.jpg" class="img-fluid image-one" alt="">
                    <!--<img src="assets/images/about-icon-1.png" class="img-fluid icon-one" alt="">-->
                    <img src="assets/images/about-img-2.jpg" class="img-fluid image-two" alt="">
                    <!--<img src="assets/images/about-icon-2.png" class="img-fluid icon-two" alt="">-->
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="section-header left-heading pb-0">
                    <div class="section-heading">
                        <h6 class="text-orange mb-xl-10 sub-heading"><span>Qui Sommes nous!</span></h6>
                        <h3 class="text-blue fw-700 title">MFOUM GROUP<span class="text-orange">.</span></h3>
                        <p class="desc">MFOUM GROUP est une entreprise de technologies qui se spécialise dans le
                          Développement de plateformes digitales (E-commerce, e-learning, e-services
                          etc...), la Création de Sites internet professionnels, le Développement
                          d’Applications Web et Mobiles, le Développement d’applications Métier sur
                          Mesure, l’UI/UX Design, ainsi que dans la Création Graphique et la Formation
                          Pratique dans les différents métiers du Numérique.</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 text-center">
                        <span class="count">82</span><span class="text-orange fs-16">%</span>
                    </div>
                    <div class="col-8">
                        <h4 class="mb-xl-10 fw-600">Notre Mission et Vision<span class="text-orange">.</span></h4>
                        <p>Fournir aux entreprises un service de qualité à moindre coût et être une entreprise proposants des plateformes de service dans tout les
                          domaines d’activités.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
<!-- Start Profit Share -->
<section class="section-padding bg-light-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-md-80">
                <div class="section-header left-heading pb-0">
                    <div class="section-heading">
                        <h6 class="text-orange mb-xl-10 sub-heading"><span>Nos Valeurs</span></h6>
                        <h3 class="text-blue fw-700 title">Des solutions surs pour vos activités<span class="text-orange">.</span></h3>
                        <p class="desc">Nous sommes convaincus que des valeurs fortes sont la base d'une activité
                          prospère. C'est pourquoi chacune des décisions que nous prenons s'appuie sur
                          ces valeurs fondamentales</p>
                    </div>
                </div>
                <ul class="custom profit-list">
                    <li>Être une entreprise proposants des plateformes de service dans tout les
                      domaines d’activités.</li>
                    <li>Solution fiable pour une rapide intégration</li>
                </ul>
                <a routerLink='/project-detail' class="theme-btn btn-orange">
                    NTEINSOFT <i class="fal fa-plus"></i>
                </a>
            </div>
            <div class="col-lg-6">
                <div class="profit-chart-box">
                    <a routerLink='/' class="chart-logo">
                        <img src="assets/images/logo.png" class="image-fit" alt="">
                    </a>
                    <a href="#" class="profit-icon icon-ps-1">
                        <span class="icon">
                            <i class="flaticon-receipt"></i>
                        </span>
                        <span class="icon-text">Supermarché</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-2">
                        <span class="icon">
                            <i class="flaticon-businessman"></i>
                        </span>
                        <span class="icon-text">Pharmacies</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-3">
                        <span class="icon">
                            <i class="flaticon-tax"></i>
                        </span>
                        <span class="icon-text">Librairies</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-4">
                        <span class="icon">
                            <i class="flaticon-label"></i>
                        </span>
                        <span class="icon-text">Restaurants</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-5">
                        <span class="icon">
                            <i class="flaticon-payment-method"></i>
                        </span>
                        <span class="icon-text">Boulangerie</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-6">
                        <span class="icon">
                            <i class="flaticon-presentation"></i>
                        </span>
                        <span class="icon-text">Logistique et transport</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-7">
                        <span class="icon">
                            <i class="flaticon-suitcase"></i>
                        </span>
                        <span class="icon-text">Superette</span>
                    </a>
                    <a href="#" class="profit-icon icon-ps-8">
                        <span class="icon">
                            <i class="flaticon-credit"></i>
                        </span>
                        <span class="icon-text">Imprimérie</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Gallery -->
<section class="section-padding slider-gallery-sec p-relative">
    <div class="container-fluid no-padding">
        <div class="row">
            <div class="col-12">
                <div class="slider-gallery row arrow-layout">
                    <div class="col-12 slide-item">
                        <img src="assets/images/acc1.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-orange mb-xl-10 fw-600 double-lines"><span>Formations</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Nous formons sur plusieurs applications métiers</a></h3>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <img src="assets/images/acc2.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-orange mb-xl-10 fw-600 double-lines"><span>Genie Logiciel</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Création des solutions adaptées à vos activités</a></h3>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <img src="assets/images/apropos.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-orange mb-xl-10 fw-600 double-lines"><span>Conseils et audits</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Nous sommes la pour vous</a></h3>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <img src="assets/images/contact.jpg" class="image-fit" alt="">
                        <div class="gallery-text">
                            <p class="text-orange mb-xl-10 fw-600 double-lines"><span>Formations</span></p>
                            <h3 class="fw-600"><a routerLink='/project-detail'>Nous formons sur plusieurs applications métiers</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Gallery -->
<!-- Start brand slider -->
<div class="section-padding bg-light-white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="brand-slider row">
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/notchpay.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/logo@1X.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/afro.png" class="image-fit" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brand slider -->
<!-- Start Testimonials -->
<section class="normal-bg section-padding testimonials-sec" style="background-image: url('assets/images/map-bg.jpg');">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h6 class="text-orange mb-xl-10 sub-heading"><span>Temoignages</span></h6>
                <h3 class="fw-700 title">Ce que vous pensez de nous<span class="text-orange">.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="testimonial-slider">
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/avatars/Abbott.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/avatars/alice.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/avatars/Arnold.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/avatars/danielle.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/avatars/Helen.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                    <div class="col-12 slide-item">
                        <div class="testimonial-box">
                            <div class="user-img">
                                <img src="assets/images/avatars/james.jpg" class="image-fit" alt="">
                            </div>
                            <p class="fw-500">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco lab oris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehe nderit in voluptate velit esse.</p>
                            <h4 class="no-margin fw-600 mb-1"><a href="#">Miranda H.Halim</a></h4>
                            <p class="no-margin fw-600 text-orange double-lines"><span>Founder, Miranda Co.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->
<app-footer-one></app-footer-one>
